header {
  background-color: var(--primary);
}

.card {
  background-color: var(--primary-light);
}

#register-field {
  background-color: var(--primary);
}

#login-field {
  background-color: var(--primary);
}

input {
  background-color: var(--primary-light);
}

.relocation_area {
  background-color: var(--primary-light);
}

#register-button,
#login-button {
  background-color: #ffff;
}
