.grey1 {
  color: var(--grey-1);
}

.grey2 {
  color: var(--grey-2);
}

.grey3 {
  color: var(--grey-3);
}

.white {
  color: var(--default);
}

.primary1 {
  color: var(--primary);
}

.primary3 {
  color: var(--primary-dark);
}
